@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Muli|Kanit');

*{
    margin: 0;
    padding: 0;   
}

body{
    background-color: #ededed;
}

.home{
    display:flex;
    flex-wrap: wrap;
    min-width: 250px;
    margin-bottom: 0px;
}

#inicio{
    background: black;
    height: 100px;
    
}

.logo{
    padding-top: 10px;
    padding-left: 10px;
    float: left;
}

nav {
    width: 30%;
    padding-top: 30px;
    font-family: 'calibri light', sans-serif;
    font-size: 1em;
    font-weight: bold;
    float: right;
}

nav a{
    display: inline-block;
    color: #bdb2b2;
    text-decoration: none;
    text-align: center;
    width: 100px;
}

nav a:hover{ 
    background-color: #000000;
    border-bottom: solid 1px #000000;
    text-align: center;
}

#medio, #fin{
    background: black;
    width: 100%;
}

#medio{
    text-align: center;
}

.logo-burguer{
    width: 100%;
}

#fin{
    background-color: black;
    width: 100%;
    height: 150px;
    padding-top: 5px;
    text-align: center;
}

.fotos-fin{
    width: 40%;
    text-align: center;
}
.fotos-fin2z{
    width: 80%;
    text-align: center;
}

#informacion{
    padding-top: 30px;
    margin-bottom: 30px;
    column-count: 2;
    text-align: center;
}

#ubicacion{
    background: #FFF;
    text-align: right;
    margin: 10x;
}
#descuentos{
    background: #FFF; 
    text-align: center;
    
}

.foto-ubicacion, .foto-descuento{
    width: 60%;   
    padding-top: 0px;
    text-align: center; 
}
.foto-descuento{
    width: 70%;   
    padding-top: 10px;
    text-align: center; 
}

.texto{
    font-family: 'Showcard Gothic';
    font-size: 2.5em;
    color: #000000;
    font-weight:bolder ; 
    text-align: center;
}
.texto11{
    font-family: 'calibri';
    font-size: 1em;
    color: white;
    font-weight:bolder; 
    text-align: left;
    padding-left: 20px;
    padding-top: 0px;
}

.texto2{
    font-family: 'Open Sans', Arial;
    font-size: 1em;
    color:  #000;  
    font-weight: bold; 
    padding-top: 0px;
}

.texto3{
    font-family: 'Open Sans', Arial;
    font-size: 1em;
    color:grey;  
    font-weight: 900; 
}

#pie{
    background:black;
    height: 70px;
    font-family: 'Open Sans', Arial;
    color: #000000;
    width: 100%;
}



.social{
    padding-left: 1500px;     
}

.icon-facebook, .icon-google-plus, .icon-instagram, .icon-envelop{
    margin-right: 10px;
}

.social a{
    color: gray;
    background-color:  seashell;
    text-decoration: firebrick;
    font-size: 1.5em;
    border-radius: 100%;
    padding: 0.2em;
}

.social a:hover{
    background-color:grey;
    color: #FFF;
}

#productos{
    padding-top: 30px;
    margin-bottom: 30px;
    column-count: 2;
    text-align: center;
}

.foto-productos{
    width: 60%;   
    padding-top: 0px;
    text-align: center; 
}
.foto-productos1{
    width: 60%;   
    padding-top: 10''0px;
    text-align: center; 
}
.foto-productos2{
    width: 70%;   
    padding-top: 10''0px;
    text-align: center; 
}
.textop{
    font-family: 'Showcard Gothic';
    font-size: 2em;
    color: white;
    font-weight:bolder ; 
    text-align: left;
    padding-top: 110px;
    padding-left: 400px;
}
.textop1{
    font-family: 'Showcard Gothic';
    font-size: 2em;
    color: white;
    font-weight:bolder ; 
    text-align: left;
    padding-top: 30px;
    padding-left: 300px;
    text-align: center;
}
.textop2{
    font-family: 'Showcard Gothic';
    font-size: 2em;
    color: white;
    font-weight:bolder ; 
    text-align: left;
    padding-top: 60px;
    padding-left: 400px;
}


#productos-s{
    padding-top: 30px;
    margin-bottom: 30px;
    column-count: 2;
    text-align: center;
}

.foto-productos-s{
    width: 70%;   
    padding-top: 150px;
    text-align: center; 
    padding-left: 50px;
}
.foto-nosotros{
    width: 90%;   
    padding-top: 100px;
    text-align: center; 
    padding-left: 50px;
}
.textop-s1{
    font-family: 'Lucida Handwriting';
    font-size: 1.5em;
    color: white;
    font-weight:bolder ; 
    text-align: left;
    padding-top: 40px;
    
}
.textop-s{
    font-family: 'Lucida Handwriting';
    font-size: 3em;
    color: white;
    font-weight:bolder ; 
    text-align: center;
    padding-top: 93px;
    padding-left: px;
    
}
.textop-sp{
    font-family: 'Lucida Handwriting';
    font-size: 1em;
    color: white;
    font-weight:bolder; 
    text-align: left;
    padding-top: 200px;
    padding-right: 10px;
    
}
.textop-sp2{
    font-family: 'calibri';
    font-size: 1.5em;
    color: white;
    font-weight:bolder; 
    text-align: left;
    padding-top: 250px;
    padding-right: 10px;
    
}
.textop-sp3{
    font-family: 'Calibri light';
    font-size: 2em;
    color: white;
    font-weight:bolder; 
    text-align: left;
    padding-top: 350px;
    padding-right: 10px;
    
}


#informacion1{
    padding-top: 400px;
    margin-bottom: 500px;
    column-count: 3;
    text-align: center;
}

#ubicacion1{
    text-align: left;
    padding-right: 10 px;
}
#descuentos1{ 
    text-align: center;
}
#telefono1{ 
    text-align: right   ;
}

.foto-ubicacion1{
    width: 100%;   
    padding-top: 10px;
    text-align: left; 
    
}
.foto-descuento1{
    width:100%;   
    padding-top: 10px;
    text-align: center; 
}
.foto-telefono1{
    width: 100%;   
    padding-top: 10px;
    text-align: right; 
}

.form-group{
    font-family: 'arial';
    font-size: 1em;
    color: white;
    font-weight:bolder ; 
    text-align: center;
    padding-top: 30px;
    padding-left: 100px;
    text-align: left;
    margin: 10px;
}
.color{
    text-align: center;
    padding-top: 30px;
    margin: 10px;
    
}









